@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="container">
        <div class="row">
            <div class="col p-0 cardHover">



                <div class=" glass cursor slide-in-right">
                    <a href="Home/About" class="text-decoration-none ">
                        <div class="row cursor">
                            <div class="col-5 p-5">
                                <h1 class="text-white display-1">NY Hotel</h1>
                                <p class="text-white">La comodità di casa tua, il lusso di un sogno</p>

                            </div>

                            <div class="col-7">
                                <img id="about" class="img-fluid imgFit" src="~/Images/About.jpg" alt="expedition" />
                            </div>
                        </div>
                    </a>
                </div>


            </div>
        </div>
    </div>
</main>